<!doctype html>
<html lang="en" class="no-js">

<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <title>Mohammad Arbaz</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" />
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" /> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"
    type="text/css">
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
  <script type="text/javascript" src="{{ url_for('static',filename='script/jquery.particleground.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='script/demo.js')}}"></script>
</head>

<body>

  <!-- <div id="particles">

  </div>

</body> -->

</html>